<div>
    <% if user.errors.any? %>
        <p>Você deve corrigir os seguintes erros:</p>
        <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div>
    <%= form_with model: user, local: true do |form| %>
        <p>
            <%= form.label :subsidiary_id, 'Filial' %>
            <%= form.collection_select :subsidiary_id, subsidiarys, :id, :name %>
        </p>
        <p>
            <%= form.label :email, 'Email' %>
            <%= form.text_field :email %>
        </p>
        <p>
            <%= form.label :password, 'Senha' %>
            <%= form.text_field :password %>
        </p>
        <p>
            <%= form.label :password_confimation, 'Confirmação de senha' %>
            <%= form.text_field :password_confimation %>
        </p>
        <p>
            <%= form.submit 'Enviar' %>
        </p>
    <% end %>
</div>