<nav>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Modelos de Carro', car_models_path %>
      <%= link_to 'Categorias de Carros', car_categories_path %>
      <%= link_to 'Fabricantes', manufacturers_path %>
      <%= link_to 'Filiais', subsidiaries_path %>
      <%= link_to 'Carros', cars_path %>
    <% end %>
    <%= link_to 'Clientes', clients_path %>
    <%= link_to 'Locações', rentals_path %>
  <% end %>
</nav>
