<h1>Rental Cars</h1>
<h2>Bem vindo ao sistema de gestão de locação</h2>
<p><%= link_to 'Fabricantes', manufacturers_path %></p>
<% @manufacturers.each do |manufacturer| %>
  <%= link_to manufacturer.name %>
<% end %>
<p><%= link_to 'Filiais', subsidiaries_path %></p>
<p><%= link_to 'Categorias', car_categories_path %></p>
<p><%= link_to 'Clientes', clients_path %></p>
