<%= link_to 'Registrar nova categoria', new_car_category_path %>

<% if @car_categories.empty? %>
    <p>Não possui categorias de carro cadastradas.</p>
<% end %>

<ul>
    <% @car_categories.each do |category| %>
        <li>
            <%= link_to category.name, car_category_path(category.id) %>
            <%= category.daily_rate %>
            <%= category.car_insurance %>
            <%= category.third_party_insurance %>
        </li>
    <% end %>
</li>