<h1>Nova Categoria de Carro</h1>
<%= form_for @car_category do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :daily_rate, 'Diária Padrão' %>
    <%= f.text_field :daily_rate %>
  </div>
  <div>
    <%= f.label :car_insurance, 'Seguro do Carro' %>
    <%= f.text_field :car_insurance %>
  </div>
  <div>
    <%= f.label :third_party_insurance, 'Seguro para Terceiros' %>
    <%= f.text_field :third_party_insurance %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>
