<div>
    <% if @rental.errors.any? %>
        <p>Você deve corrigir os seguintes erros:</p>
        <ul>
            <% @rental.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div>
    <%= form_with model: @rental, local: true do |form| %>
        <p>
            <%= form.label :start_date, 'Data Inicial'%>
            <%= form.date_field :start_date%>
        </p>
        <p>
            <%= form.label :end_date, 'Data Final'%>
            <%= form.date_field :end_date%>
        </p>
        <p>
            <%= form.label :client_id, 'Cliente'%>
            <%= form.collection_select :client_id, @clients, :id, :name %>
        </p>
        <p>
            <%= form.label :car_category_id, 'Categoria'%>
            <%= form.collection_select :car_category_id, @car_categories, :id, :name %>
        </p>
        <p>
            <%= form.submit 'Enviar'%>
        </p>
    <% end %>
</div>