<div>
    <% if car.errors.any? %>
        <p>Você deve corrigir os seguintes erros:</p>
        <ul>
            <% car.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div>
    <%= form_with model: car, local: true do |form| %>
        <p>
            <%= form.label :license_plate, 'Placa' %>
            <%= form.text_field :license_plate %>
        </p>
        <p>
            <%= form.label :color, 'Cor' %>
            <%= form.text_field :color %>
        </p>
        <p>
            <%= form.label :mileage, 'Quilometragem' %>
            <%= form.number_field :mileage %>
        </p>
        <p>
            <%= form.label :subsidiary_id, 'Filial' %>
            <%= form.collection_select :subsidiary_id, subsidiaries, :id, :name %>
        </p>
        <p>
            <%= form.label :car_model_id, 'Modelo' %>
            <%= form.collection_select :car_model_id, car_models, :id, :name %>
        </p>
        <p>
            <%= form.submit 'Enviar' %>
        </p>
    <% end %>
</div>