<p>Modelo: <%= @car.car_model.name %></p>
<p>Placa: <%= @car.license_plate %></p>
<p>Quilometragem: <%= @car.mileage %></p>
<p>Cor: <%= @car.color %></p>
<p>Subsidiaria: <%= @car.subsidiary.name %></p>
