<div style="margin-left: 200px">
  <h1 style="text-align:center">Atualizar fabricante</h1>

  <% if @manufacturer.errors.any? %>
    <p>Você deve corrigir os seguintes erros:</p>
    <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @manufacturer, local: true do |form| %>
    <p>
      <%= form.label :name, 'Nome' %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.submit 'Enviar' %>
    </p>
  <% end %>

  <%= link_to 'Voltar', manufacturers_path %>

</div>
