<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: @manufacturer, local: true do |form| %>
    <%= form.label :name, 'Nome'%>
    <%= form.text_field :name%>
    <%= form.submit 'Enviar' %>
<% end %> 