<h1>Atualizar fabricante</h1>

<% if @manufacturer.errors.any? %>
  <p>Você deve corrigir os seguintes erros:</p>
  <ul>
  <% @manufacturer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @manufacturer, local: true do |f| %>
  <p>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Enviar' %>
  </p>
<% end %>
