<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <% if user_signed_in? %>
            <p>Olá <%= current_user.email%>
               <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
            </p>
            <%= link_to 'Fabricantes', manufacturers_path %>
            <% if current_user.admin? %>
                <%= link_to 'Filiais', subsidiaries_path %>
                <%= link_to 'Categorias de carro', car_categories_path %>
                <%= link_to 'Modelos de Carro', car_models_path %>
                <%= link_to 'Carros', cars_path %>
                <%= link_to 'Clientes', clients_path %>
                <%= link_to 'Locação', rentals_path%>
            <% end %>

            <% if current_user.employee?%>
                <%= link_to 'Locação', rentals_path%>
                <%= link_to 'Clientes', clients_path %>
            <% end %>
        <% else %>
            <p>
              <%= link_to 'Entrar', new_user_session_path %> |
              <%= link_to 'Cadastrar-se', new_user_registration_path %>   
            </p>
            <%= link_to 'Fabricantes', manufacturers_path %>
        <% end %>
        
    </nav>

    <% if !notice.nil?%> 
      <div class="container">
        <p class="alert alert-success"><%= notice %></p>
      </div>
    <% end %>

    <% if !alert.nil?%> 
      <div class="container">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
    <% end %>
    

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
